.start {
  transform: scale(0);
}

.end {
  transform: scale(1);
  transition: all 0.5s;
}

.detailStart {
  opacity: 0;
}

.detailEnd {
  opacity: 1;
  transition: all 1s;
}

.loading-box {
  background: gray;
  text-align: center;
  width: 400px;
  height: 130px;
  line-height: 130px;
  margin: 0 auto;
  margin-top: 20px;
}

.main-bg {
  height: 25rem;
  background-image: url('./assets/image/cute.jpg');
  background-size: cover;
  background-position: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
